body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: silver;
}

.container {
    -webkit-perspective: 600;
}

#board {
    border: 4px double green;
    width: 640px;
    height: 640px;
    margin: 0 auto;
    background: saddlebrown;
    border-radius: 15px;
    position: relative;

    transform: rotateX(45deg);
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(30deg);
}
#board-grids>div {
    float: left;
    width: 78px;
    height: 78px;
    border: 1px solid white;
}
#board-grids>div:first-child{
    border-top-left-radius: 15px;
}
#board-grids>div:last-child{
    border-bottom-right-radius: 15px;
}
#board-grids>div:nth-child(8){
    border-top-right-radius: 15px;
}
#board-grids>div:nth-last-child(8){
    border-bottom-left-radius: 15px;
}
#control {
    margin-top: 30px;
    margin-bottom: 10px;
}

.chessman {
    position: absolute;
    width: 20px;
    height: 20px;
    /*border: 6px double lightskyblue;*/
    background-color: black;
    box-shadow: 3px 3px 5px 1px black;
    border-radius: 50px;

    background: -webkit-radial-gradient(closest-side, black 70%, yellow 30%);

    /* Translation to make the chessman in the center of each grid */
    -webkit-transform: translate(-16px, -16px);
    -moz-transform: translate(-16px, -16px);
    -ms-transform: translate(-16px, -16px);
    -o-transform: translate(-16px, -16px);
    transform: translate(-16px, -16px);

    /* Init position */
    top: 40px;
    left: 40px;

    /* Transition */
    -webkit-transition: top 600ms ease,left 600ms ease;
    -moz-transition: top 600ms ease,left 600ms ease;
    -ms-transition: top 600ms ease,left 600ms ease;
    -o-transition: top 600ms ease,left 600ms ease;
    transition: top 600ms ease,left 600ms ease;

}

.chessman.picked-up{
    animation: pickup 600ms ease 1 normal;
    -moz-animation: pickup 600ms ease 1 normal;
    -webkit-animation: pickup 600ms ease 1 normal;
    -o-animation: pickup 600ms ease 1 normal;
}

@keyframes pickup{
    0% {box-shadow: 3px 3px 5px 1px black;}
    50% {box-shadow: 75px 75px 5px 15px rgba(0,0,0,0.05);-webkit-transform: scale(2,2);}
    100% {box-shadow: 3px 3px 5px 1px black;}
}
@-moz-keyframes pickup{
    0% {box-shadow: 3px 3px 5px 1px black;}
    50% {box-shadow: 100px 100px 5px 15px rgba(0,0,0,0.05);}
    100% {box-shadow: 3px 3px 5px 1px black;}
}
@-webkit-keyframes pickup{
    0% {box-shadow: 3px 3px 5px 1px black;}
    50% {box-shadow: 50px 50px 5px 5px rgba(0,0,0,0.3);-webkit-transform: scale(1.5,1.5);}
    100% {box-shadow: 3px 3px 5px 1px black;}
}
@-o-keyframes pickup{
    0% {box-shadow: 3px 3px 5px 1px black;}
    50% {box-shadow: 100px 100px 5px 15px rgba(0,0,0,0.05);}
    100% {box-shadow: 3px 3px 5px 1px black;}
}

